<phpunit
	stopOnError="true"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	colors="true"
	strict="true"
	verbose="true">

	<testsuites>
		<testsuite name="Resources">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>


	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false" addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
		</whitelist>
	</filter>

</phpunit>
