<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	strict="true"
	verbose="true">

	<testsuites>
		<testsuite name="Resources">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false" addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
		</whitelist>
	</filter>

</phpunit>
